<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicoEstoque" />
            </basicHttpBinding>
        </bindings>
        <client>
          <endpoint address="net.tcp://localhost:8080/TcpService" binding="netTcpBinding"
            bindingConfiguration="" name="NetTcpBinding_IServicoEstoque"
            contract="ServicoEstoque.IServicoEstoque" />

          <endpoint address="http://localhost:55158/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServicoEstoque" contract="ServicoEstoque.IServicoEstoque"
                name="BasicHttpBinding_IServicoEstoque" />
        </client>
    </system.serviceModel>
</configuration>